/* Alertlerin CSS */
#success-alert,
#fail-alert {                   
    display: none; /* Başlangıçta gizli */
    position: fixed;
    top: 20px; /* Üstten 20px boşluk */
    right: 20px; /* Sağdan 20px boşluk */
    z-index: 1050; /* Üstte görünmesi için z-index */
    width: 300px; /* Alert genişliği */
    padding: 15px; /* İçerik için boşluk */
    border-radius: 5px; /* Köşe yuvarlama */
}

#success-alert {
    background-color: #e9f0eb; /* Başarılı alertin arka plan rengi */
    color: white; /* Yazı rengi */
}

#fail-alert {
    background-color: #dc3545; /* Başarısız alertin arka plan rengi */
    color: white; /* Yazı rengi */
}

#success-alert .close,
#fail-alert .close {
    position: absolute;
    top: 1px; /* Yukarıdan 1px */
    right: 5px; /* Sağdan 5px */
    color: white; /* Kapatma düğmesi rengi */
    cursor: pointer; /* Fareyle üzerine gelince işaretçi değişimi */
}

/* Modal stil ayarları */
.modal-backdrop {
    z-index: 1040 !important; /* Modal arka planı için z-index */
}

.modal {
    z-index: 1050 !important; /* Modal kendisi için z-index */
}
.car-image {
    width: 100%;
    height: auto;
}


/* Footer için sağa ve sola yaslama */
.footer {
    background-color: #343a40; /* Koyu arka plan rengi */
    color: white; /* Yazı rengi */
    text-align: center; /* Metni ortala */
    padding: 15px 0; /* Üst ve alt boşluk, sağ ve sol sıfır */
    width: 100vw; /* Tam genişlikte göster */
    margin: 0; /* Kenar boşluklarını sıfırla */
    position: fixed; /* Sabit pozisyonda kalması için */
    bottom: 0; /* Alt kenara yasla */
    left: 0; /* Sola yasla */
    right: 0; /* Sağa yasla */
    z-index: 1000; /* Üstte görünmesi için z-index */
}

