body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e9ecef;
}

.login-container {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #e5e1e1;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}
/* alertlerin Css */
#success-alert,
#fail-alert {                   
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
    width: 300px;
    padding: 15px;
}
#success-alert .close{
    position: absolute;
    top: 1px;
    right: -15px;
    z-index: 1040; 
 /* alertin .close düğmesinin görünümünü kontrol etmek için  alert içindeki x işareti yazının altında kaldığı için ekledim*/
 #fail-alert .close {
    position: absolute;
    top: 1px;
    right: -15px;
    z-index: 1040; /* Kapatma düğmesini uyarının üzerinde göstermek için */
}
}